ecmaFeatures:
  modules: true
  jsx: true

env:
  browser: true
  jquery: true

globals:
  DEBUG: false

extends: 'eslint:recommended'

# http://eslint.org/docs/rules/
rules:
  no-eval: 2
  indent:
    - 2
    - 4
  linebreak-style:
    - 2
    - unix
  quotes:
    - 2
    - single
  semi:
    - 2
    - always
  no-console: 0
  wrap-iife: [2, inside]
